


.aboutContainer{





}




.HeroContainer{





}



.headlineContainer{





}





.featureBlockContainer{






}




.testimonialContainer{






}





.languages{



    margin: 5rem auto;



}


.customerHeadline{



    
}


.imageGridContainer{


    /* outline: 1px solid red; */
    display: grid;
    place-content: center;
    margin-top: -10rem; 



}




@media(max-width: 900px){

    .customerHeadline{

        margin-bottom: -6rem;
        margin-top: 5rem;

    
    }




}




































































