


.cardImageContainer{


    /* outline: 5px solid lime; */
    width: 17.313rem;
    height: 27.438rem; 

    background-color: #27272a;
    color: #dededf; 

    margin: 5rem auto;





}



.cardImageSubContainer{


    width: 87%;

    outline: 1px solid red;
    margin: 0 auto;


}


.image{


    width: 100%; 
    height: 11rem; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;






}



.headerContainer{




    
}



#cardHeader{



    margin-top: 2rem;





}



.textContainer{



    /* outline: 4px solid lime; */

    margin-top: 2rem;





}



#cardText{






    
}



.listContainer{





}


.iconList{





}


.listItem{




}



.sourceCodeContainer{




    
}


.iconContainer{





}


#sourceCodeText{



}


/* Add in the Hover Effects Here  */



/* Add in the Animations here  */



/* Add in the media queries here  */























































