


.cardImageContainer{
    width: 17.313rem;
    height: 27.438rem;
    background-color: #27272a;
    color: #dededf;
    margin: 5rem auto;
    border-radius: 15px ;
    cursor: pointer;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
}



.cardImageSubContainer{


    width: 87%;

    margin: 0 auto;



}


.image{


    /* width: 100%;  */
    width: 17.313rem; 
    
    height: 11rem; 
    /* outline: 0.5px solid hotpink; */


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;






}



.headerContainer{


    color: white;




    
}



#cardHeader{



    margin-top: 2rem;





}



.textContainer{



    margin-top: 2rem;
    margin-bottom: 2.2rem;





}



#cardText{






    
}



.listContainer{





}


.iconList{




}


.listItem{



    display: inline-block;
    margin-right:  1.25rem;
    color: #535762; 





}


#sourceIcon{

    /* margin-right: 0.5rem; */


}



.sourceCodeContainer{



    
}


.iconContainer{

   




}


#sourceCodeText{





}


.sourceCodeListItem{

display: inline-block;




}


/* Add in the Hover Effects Here  */



/* Add in the Animations here  */



/* Add in the media queries here  */























































