


.cardImageContainer{
    width: 17.313rem;
    height: 27.438rem;
    background-color: #27272a;
    color: #dededf;
    margin: 5rem auto;
    border-radius: 15px ;
    cursor: pointer;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;

    overflow: hidden;


    position: relative;
    z-index: 30;
}



.cardImageSubContainer{


    width: 100%;
    /* border-top-right-radius: 10px; */
    /* border-top-left-radius: 10px;  */
    

    margin: 0 auto;
    /* padding-left: 1rem;  */
    


}


.image{


    /* width: 100%; */
    /* height: ;  */
    width: 17.313rem; 
    
    height: 11rem; 
    padding-top: 1.4px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
    






}



.headerContainer{


    color: white;
    margin-left: 0.5rem; 
    




    
}



#cardHeader{



    margin-top: 2rem;





}



.textContainer{



    margin-top: 2rem;
    margin-bottom: 2.2rem;

    margin-left: 0.5rem; 






}



#cardText{






    
}



.listContainer{





}


.iconList{

    margin-left: 0.5rem;




}


.listItem{



    display: inline-block;
    margin-right:  1.25rem;
    color: #535762; 





}


#sourceIcon{

    /* margin-right: 0.5rem; */


}



.sourceCodeContainer{



    
}


.iconContainer{

   




}


#sourceCodeText{





}


.sourceCodeListItem{

display: inline-block;

margin-left: 0.5rem; 





}


/* Add in the Hover Effects Here  */



/* Add in the Animations here  */



/* Add in the media queries here  */























































