

.contactPage{





}



.heroContainer{





}




.textEffectContainer{



    /* outline: 1px solid red; */
    width: 80vw; 
    margin: 3rem auto; 
    display: grid;
    place-content: center;



}




.contactFormContainer{


    width: 80vw; 
    margin: 4rem auto; 

    display: grid;
    place-content: center;
    /* outline: 1px solid red; */






}

























































