

    
    .textItem{


        margin: 1rem auto !important; 


        font-size: 1.25rem;
        color: #333333; 



    }
    #componentcontainer{
    background-color: white; 
    color: black; 
    width: 90vw; 
    min-height: 100vh;
    margin: 0 auto !important; 
    }
    #componentsectionlist{
    margin: 0 auto ; 
    margin-top: 20vh !important; 
    }
    #listcomponentitem{
        display: inline-block;
    }
    #textlistitem{
    display: inline-block !important;
    margin-top: 0; 
    margin-left: 0 !important; 
    transform: translate(3rem, -17vh) !important ;
    }
    #imagesubcontainer{
        border-radius: 40px; 
        margin: 0 auto !important; 
        display: grid;
        justify-content: center;
    }
    #image{
    height: clamp(24rem, 34vw, 29rem); 
    }
    #textsectioncontainer{
    position: relative;
    max-width: 800px; 
    }
    #textsectionsubcontainer{
    height: 20vh;   
    transform: translate(0rem, 0vh);
    }
    #textsectionheader{
        font-size: clamp(1.5rem, 2.4vw + 1rem, 3rem);
        font-weight: 10;
        letter-spacing: -0.12rem;
        width: 30vw; 
        position: relative; 
        z-index: 200;   
        font-weight: 700;   
    }
    #toptextcontainer{
        margin-top: 0.54rem;
        font-size: 1rem;
        font-weight: 450;
        line-height: 1rem;
        color: lightslategray; 
        width: 30vw; 
    }
    #bottomtextcontainer{
        max-width: 650px; 
    }
 






@media(min-width: 1250px){



    #imagesubcontainer{
        border-radius: 40px;
        margin: 0 auto !important;
        display: grid;
        justify-content: center;
        transform: translate(0, -3rem) ;
        -webkit-transform: translate(0, -3rem) ;
        -moz-transform: translate(0, -3rem) ;
        -ms-transform: translate(0, -3rem) ;
        -o-transform: translate(0, -3rem) ;
}






}


    @media(max-width: 1200px){


        /* Center things there  */


        #componentsectionlist{


            display: grid; 

            place-content: center;



        }




        #textlistitem{
            display: inline-block !important;
            margin: 3rem auto !important;
            transform: translate(0vw, 0vh) !important ;
            text-align: center;
            -webkit-transform: translate(0vw, 0vh) !important ;
            -moz-transform: translate(0vw, 0vh) !important ;
            -ms-transform: translate(0vw, 0vh) !important ;
            -o-transform: translate(0vw, 0vh) !important ;
}


        /* Add in the container here  */

        #textsectionheader{


            text-align: center;
            margin: auto;
            place-self: center;



        }



        /*  */



            #toptextcontainer{
            width: 80vw !important; 
            max-width: 800px; 
            }
            #listcomponentitem{
                display: block !important; 
            }
            #image{
            width: 82.7vw !important; 
            border-radius: 40px; 
            height: clamp(20rem, 63vw, 44.8rem); 
            }
    }
    @media(max-width: 900px){
        #valuesbutton{
            margin-top: 0.5rem !important; 
        }

        #backgroundcontainer{


            margin-top: -4rem;

            }

        #toptextcontainer{
            width: 80vw !important; 
            max-width: 800px; 

            margin-bottom: 15rem !important;    


            }

        



    }
    @media(max-width: 375px){
            #textlistitem{
                margin: 0 auto !important; 
                }
    }