

.footerMainContainer{


    /* outline: 1px solid lime; */
    width: 20.872rem; 
    margin: 5rem auto; 
    display: grid;  



}




.lineDiv{

    width: 20.872rem; 
    height:0.5px;
    background-color: black;
    /* background-color: #27272a; */




}





.footerText{



    margin: 0 auto;




}































































































