@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nova+Cut&display=swap');

.headlineContainer{



    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  position: relative;
  margin: auto;
  width: 55vw; 



}



.headline{


    font-size: clamp(1rem, 4vw + 1rem, 3.1rem);



}






.headlineText{





    
}




@media(max-width: 900px){


    .headlineContainer{


    
      width: 85vw; 
    
    
    
    }




}































































































