

.languagesContainer{


    width: 90vw; 
    
    margin: auto; 

    
    position: relative;
    display: grid;
    place-content: center;




}



.languagesGridContainer{



display: grid;
place-content: center;
width: min-content; 


grid-template-columns: repeat(11, 1fr);

gap: 2rem; 




}



.listItem{



/* display: flex;  */

width: 10vw; 
/* place-content: center; */

min-width: 4.688rem; 




}




.iconContainer{



}


/* Add in the media queries here  */
@media(min-width: 1300px){


/* Add in the list item here  */


.listItem{



    width: 6vw; 


}

#prisma{


margin-left: 3.3rem; 



}




}


@media(max-width: 1300px){

    .listItem{





    }

    .languagesGridContainer{
    
    

    grid-template-columns: repeat(5, 1fr);
    
    
    
    }




}




@media(max-width: 900px){

    .languagesGridContainer{



        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        gap: 2rem; 
        
        
        
        }
    
}





/* Add in the media queries here  */

@media(max-width: 600px){

    .languagesGridContainer{



        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        gap: 2rem; 
        
        
        
        }
    
}




/* Add in the media queries here  */

@media(max-width: 400px){

    .languagesGridContainer{



        display: grid;
        grid-template-columns: repeat(2, 1fr);

        
        gap: 2rem; 
        
        
        
        }


        .listItem{


            /* display: none;   */

        }
    
}


@media(min-width: 500px){

    .listItem{


        /* display: none !important;   */


        
    }



}


@media(max-width: 500px){


    .listItem{


        /* display: none;   */


        
    }

    .iconContainer{

   


    }


}


